/* *{
    margin: 0;
    padding: 0;
}


.main{
    height: 100vh;
   
    display: flex;
    
   

    
}
.right1{
    padding: 10px;
    width: 50%;
   background-color: black;

     
    
}
.heading{
    color: #575A85;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 20px;
}
.detail{
    width: 90%;
    color: #B8BCCC;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}
.img{
    margin-top: 100px;
   
    
 margin-left: 100px;
   
   

}
.par{
    color: #B8BCCC;
    color: #B8BCCC;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.left2{
    background-color: #575A85;
   width: 50%;
    
   text-align: center;
    
}
.btn{
    color: #B8BCCC;
font-family: Inter;
border: 2px solid white;
border-radius: 5px;
background-color: #575A85;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

second page
.second{
    display: none;
}
body{
   background-color:black;
}
.address{
    margin-left: 10px;
    margin-top: 20px;
    color: rgba(184, 188, 204, 0.50);
font-family: Montserrat; 
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.loc-details{
    margin-top: 20px;
   
    display: flex;
    color: rgba(184, 188, 204, 0.50);
  flex-wrap: wrap;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.loc-details p{
    margin-left: 10px;
}
.location1{
    text-align: center;
    width:100%;
    height:964px;
    background-color:#575A85 ;
}

.yourloc{
    color: #B8BCCC;
text-align: center;


font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.loc-img{
    width: 1390px;
height: 677px;

}
.more{
    color: #B8BCCC;
text-align: center;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.area{
    margin-top: 20px;
   
   
    color: rgba(184, 188, 204, 0.50);
 
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.more{
    margin-top: 15px;
}
.search{
    border: none;
    background-color: black;
    
}
.src-btn{
   margin: auto;
    width: 90vw;
    background-color:black;
    border:2px solid  #575A85 ;
    border-radius:5px ;
}
.srcspace{
    color: white;
    
    border: none;
    width: 85vw;
    background-color: black;
}
.detailsbox{
    margin-left: 20px;
 margin-top: 20px;
    width: 600px;
    height: 309px;
    border-radius: 10px;
background: #575A85;
}
.postoffice-details{
    
    display: flex;
    flex-wrap: wrap;
}
.detailsbox p{
    margin-top: 10px;
   
color: #B8BCCC;
font-family: Montserrat;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
}  */
body{
    margin: 0px;
    background-color: black;
    color: white;
}

#scroll{
    overflow-y: hidden;
}

h2{
    margin: 20px;
}

.post{
    background-color:rgba(87, 90, 133, 1);
    color: rgba(184, 188, 204, 1);
}


#main{
    display: flex;
    flex-basis: 50%;
    background-color: rgba(87, 90, 133, 1);
}

.left,.right{
    display: flex;
    flex-direction: column;
}
.left{
    background-color: black;
    height: 100vh;
    padding: 50px;
}

.left > h1{
    color: #575a85;
}
.left > p{
    color: rgba(184, 188, 204, 1);
}
.left > img{
    width: 482px;
    height: 450px;
}

#head{
    display: none;
    padding: 25px;
}

.right{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
#btn{
    display: block;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

#ipDetails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    column-gap: 100px;
    justify-content: space-between;
}

#ipDetails > div{
    width: 400px;
    height: 50px;
}

#ipDetails > div > span{
    font-size: 20px;
    font-weight: 600;
    padding-left: 50px;
}

#timeZone{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

#timeZone > div > span{
    font-size: 20px;
    font-weight: 600;
}

#map{
    display: none;
    margin: 20px;
    border: 2px solid black;
    height: 66vh;
}

#searchBoxed{
    width: 97%;
    box-sizing: border-box;
    margin: 20px;
}

#map{
    color: rgba(184, 188, 204, 1);
}

#timeZone > h1{
    color: rgba(184, 188, 204, 1);
}

#searchBoxed > h1{
    color: rgba(184, 188, 204, 1);
}
#searchBoxed input{
    box-sizing: border-box;
    font-size: 17px;
    padding: 9px 15px;
    border: 3px solid rgba(87, 90, 133, 1);
    width: 100%;
    color: white;
    background-color: black;
}
#postOfficeList{
    margin: 20px;
    margin-bottom: 50px;
    display: flex;
    row-gap: 15px;
    column-gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color:rgba(87, 90, 133, 1); */
}
#postOfficeList ul{
    width: 300px;
    margin: 15px 0;
    list-style: none;
    border: 2px solid black;
     background-color:rgba(87, 90, 133, 1); 
     color: rgba(184, 188, 204, 1);
    
}
#postOfficeList ul{
    padding: 25px;
    /* background-color:rgba(87, 90, 133, 1); */
}
#postOfficeList ul li{
    /* border: 1px solid red; */
    margin: 15px 0;
    font-size: 20px;

}